<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Длина</td>
      <td>{{ product.U_length }}</td>
    </tr>
      <tr>
      <td>ширина</td>
      <td>{{ product.U_width}}</td>
    </tr>
      </tr>
      <tr>
      <td>высота</td>
      <td>{{ product.U_height }}</td>
    </tr>
      </tr>
      </tr>
      <tr>
      <td>форма</td>
      <td>{{ product.form }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>